@model FruitsAndVegetable
<h1>Add a Fruit and Vegetable</h1>
<a href="/">home</a>


<form asp-action="Create" asp-controller="Home" method="post">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name"><br>

        <span asp-validation-for="Type"></span>
        <label asp-for="Type"></label>
        <select asp-for="Type">
            <option value="Fruits">Fruits</option>
            <option value="Vegetable">Vegetable</option>
        </select><br>

        <span asp-validation-for="Tastiness"></span>
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        
        <span asp-validation-for="Calories"></span>
        <label asp-for="Calories"></label>
        <input asp-for="Calories"><br>

        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <input asp-for="Description"><br>

        <input value="Add Fruit or Vegetable" type="submit">    
    </form>